@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono&display=swap');

*{
  font-family: 'Chivo Mono', monospace;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  background: url("https://images.unsplash.com/photo-1526304640581-d334cdbbf45e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
}

h1 {
  margin: 0;
  margin-bottom: 10px;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.container {
  background: rgba(128, 128, 138, 0.9);
  width: 400px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
}

input {
  font-size: 20px;
  height: 25px;
  width: 230px;
  border-radius: 10px;
  padding: 2px;
}

select {
  font-size: 20px;
  height: 30px;
  width: 80px;
  border-radius: 10px;
  margin-left: 5px;
  text-align: center;
  text-transform: uppercase;
  padding: 3px;
}

.igual {
  margin: 0;
  color: #fdfdfd;
  font-size: 40px;
}
